/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
.container{
    height: 100%;
    width: 100%;
    
    
}
.margin-bottom {
    margin-bottom: 20px;
}
.plt {
    margin-top: 50px;
    
}
body{
    font-family: sans-serif;
}

nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul {
    list-style-type: none;
    padding: 5px 10px;
    
}
li {
   padding: 5px 15px;
}
a{
   text-decoration: none;
   color: black;
}
/* Header */
header {
    
}



 .plans ul{
     display: flex;
 }

 .login-dropbox ul{
     display: flex;
 }

 .login-dropbox{
     margin-right: 70px;
 }
  .logo-plans {
      display: flex;
      align-items: center;  
  }
  .plans{
      padding: 5px 20px;
  }
  .img-logo {
      padding-left: 10px;
  }
  .start{
      background-color: #007fff;
      color: white;
      padding: 5px 15px;
      font-size: 15px;
  }
  .login-dropbox {
      padding-right: 30px;
  }
  /* Main */
  .banner{
      background-color: #abcdef;
  }


.banner-elements {
    margin: 0 auto;
    height: 900px;
    width: 90%;  
}
h1 {
    padding-top: 45px;
    font-weight: 700;
    font-size: 75px;
}
h2{
    margin-top: 300px;
    font-size: 45px;

}
h3 {
    padding-left: 20px;
    font-size: 20px;
}
.btncolor{
    background-color: #007fff;
    padding: 10px 15px;
    display: inline-block;
}
h4 {
    padding-left: 20px;
}

p {
   
}
.banner-img{
    width: 70%;
    height: 100%;
}

.banner-img img {
    width: 900px;
    height: 800px;
   
}

.banner-more {
    display: flex;
}
/* Section 2 */

.subscription {
    height: 1050px;
    width: 100%;
    
    
}
.main-plans {
    margin: 0 auto;
    width: 75%;
    height: 700px;
}
.billing1 {
    margin-left: 30px;
}
.circle {
    width: 10px;
    background-color: blue;
    height: 10px;
    border-radius: 10%;
}
.circle1 {
    width: 10px;
    background-color: blueviolet;
}
 .col{
     justify-content: center;
     width: 30%;
     height: 750px;
     border: 1px solid lightgray;
     

     
 }
 .columns {
     display: flex;
     justify-content: space-between;
     width: 100%;
 }
 .all-columns {
     padding-top: 35px;
 }
 .users {
     width: 100%;
     height: 5%;
     padding-top: 15px;
     border-bottom: 1px solid lightgray;
     text-align: center;
 }
 .card-top {
    padding-top: 20px;
 }
.card-bottom {
    padding-top: 50px;
}
 .card-top p {
     padding-top: 15px;
     padding-left: 20px;
 }
 .cta2{
     padding-top: 30px;
 }
 .cta {
     background-color: #007fff;
     color: white;
     padding: 7px 15px;
     padding-left: 20px;
 }
 .card-bottom li {
     padding: 15px;
 }
.enterprise {
    height: 600px;
}

 .team {
     margin: 0 auto;
     width: 75%;
     height: 200px;
     border: 1px solid lightgray;

 }
 .team1 {text-align: center;

     border-bottom: 1px solid lightgray;
     padding: 10px;   
 }
 
 .enterprise-text p {
     margin-top: 20px;
     padding-left: 50px;
 }
 .enterprise-text h4 {
     padding-top: 25px;
     padding-left: 50px;
 }
 .enterprise-text h3 {
     padding-left: 51px;
     padding-top: 30px;
 }
 .sales-office {
     background-color: #007fff
     padding: 7px 15px;
 }

/* Section 3 */
.partner {
    margin: 0 auto;
    width: 75%;
    height: 300px;   
}
.partner-container {
    padding-top: 150px;
    display: flex;
}
.partner img {
    width: 100%;
}
.partner-img {
    height: 50%;
}
 .partner-text h3 {
     font-size: 20px;
     padding-left: 5px;
     
 }
 .partner-text {
     width: 60%;
     padding-left: 40px;
 }