/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
.container{
    height: 100%;
    width: 100%;
    
    
}
body{
    font-family: sans-serif;
}

nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul {
    list-style-type: none;
    padding: 5px 10px;
    
}
li {
   padding: 5px 15px;
}
a{
   text-decoration: none;
   color: black;
}
/* Header */
header {
    
}



 .plans ul{
     display: flex;
 }

 .login-dropbox ul{
     display: flex;
 }

 .login-dropbox{
     margin-right: 70px;
 }
  .logo-plans {
      display: flex;
      align-items: center;  
  }
  .plans{
      padding: 5px 20px;
  }
  .img-logo {
      padding-left: 10px;
  }
  .start{
      background-color: #007fff;
      color: white;
      padding: 5px 15px;
      font-size: 15px;
  }
  .login-dropbox {
      padding-right: 30px;
  }
  /* Main */
  .banner{
      background-color: #abcdef;
  }


.banner-elements {
    margin: 0 auto;
    height: 900px;
    width: 90%;  
}
h1 {
    padding-top: 45px;
    font-weight: 700;
    font-size: 75px;
}
.a-color{
    color:white;
}


.start2 {
    border: none;
    padding: 14px 30px;
    margin-left: 30px;
    background-color: #007fff;  
}

p {
   padding: 35px;
}
.banner-img{
    width: 70%;
    height: 100%;
}

.banner-img img {
    width: 900px;
    height: 800px;
   
}

.banner-more {
    display: flex;
}