/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
.container{
    height: 100%;
    width: 100%;
    
    
}
.margin-bottom {
    margin-bottom: 20px;
}
.plt {
    margin-top: 50px;
    
}
body{
    font-family: sans-serif;
}

nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul {
    list-style-type: none;
    padding: 5px 10px;
    
}
li {
   padding: 5px 15px;
}
a{
   text-decoration: none;
   color: black;
}
/* Header */
header {
    
}



 .plans ul{
     display: flex;
 }

 .login-dropbox ul{
     display: flex;
 }

 .login-dropbox{
     margin-right: 70px;
 }
  .logo-plans {
      display: flex;
      align-items: center;  
  }
  .plans{
      padding: 5px 20px;
  }
  .img-logo {
      padding-left: 10px;
  }
  .start{
      background-color: #007fff;
      color: white;
      padding: 5px 15px;
      font-size: 15px;
  }
  .login-dropbox {
      padding-right: 30px;
  }
  /* Main */
  .banner{
      background-color: #abcdef;
  }


.banner-elements {
    margin: 0 auto;
    height: 900px;
    width: 90%;  
}
h1 {
    padding-top: 45px;
    font-weight: 700;
    font-size: 75px;
}
h2{
    margin-top: 300px;
    font-size: 45px;

}
h3 {
    font-size: 20px;
}
.btncolor{
    background-color: #007fff;
    padding: 10px 15px;
    display: inline-block;
    white-space: nowrap;
    color: white;
}

p {
   
}
.banner-img{
    width: 70%;
    height: 100%;
}

.banner-img img {
    width: 900px;
    height: 800px;
   
}

.banner-more {
    display: flex;
}
/* Section 2 */

.subscription {
    height: 1050px;
    width: 100%;
    
    
}
.main-plans {
    margin: 0 auto;
    width: 75%;
    height: 700px;
}
.billing1 {
    margin-left: 30px;
}
.circle {
    width: 10px;
    background-color: blue;
    height: 10px;
    border-radius: 10%;
}
.circle1 {
    width: 10px;
    background-color: blueviolet;
}
 .col{
     justify-content: center;
     width: 30%;
     height: 750px;
     border: 1px solid lightgray;
     

     
 }
 .columns {
     display: flex;
     justify-content: space-between;
     width: 100%;
 }
 .all-columns {
     padding-top: 35px;
 }
 .users {
     width: 100%;
     height: 5%;
     padding-top: 15px;
     border-bottom: 1px solid lightgray;
     text-align: center;
 }
 .card-top {
    padding-top: 20px;
 }
.card-bottom {
    padding-top: 50px;
}
 .card-top p {
     padding-top: 15px;
 }
 .cta2{
     padding-top: 30px;
 }
 .cta {
     background-color: #007fff;
     color: white;
     padding: 7px 15px;
     padding-left: 20px;
 }
 .card-bottom li {
     padding: 15px;
 }
 .text-card {
     padding: 0 20px;
 }
 .card-top ul {
     padding: 0;
 }
 .card-top li {
     padding: 10px 0;
 }
.enterprise {
    height: 600px;
}

 .team {
     margin: 0 auto;
     width: 75%;
     border: 1px solid lightgray;

 }
 .team1 {text-align: center;

     border-bottom: 1px solid lightgray;
     padding: 10px;   
 }
 
 .enterprise-text p {
     margin-top: 20px;
 }
 .enterprise-text h4 {
     padding-top: 25px;
    
 }

 .enterprise-text {
     display: flex;
     padding: 20px;
 }

/* Section 3 */
.partner {
    margin: 0 auto;
    width: 75%; 
}
.ptx {
    line-height: 2;
}
.month {
    color: gray;
}
.partner-container {
    padding-top: 150px;
    display: flex;
}
.partner img {
    width: 95%;
}
.partner-img {
    width: 100%;
    height: 50%;
}
 .partner-text h3 {
     font-size: 20px;
     width: 75%;
 }
 .partner-text p {
     padding-top: 40px;
     
 }
 .partner-text {
     width: 55%;
     margin-top: 35px;
 }
 .search {
     padding: 10px 15px;
     background-color: white;
     border: 1px solid black;
     margin-top: 20px;
     display: inline-block;
 }
 /* Section 4 */
 .operations {
     width: 75%;
     height: 900px;
     margin: 0 auto;

 }
 .main-operations {
    padding-top: 100px;
    height: 500px;
 }
.columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
  
}
.col-1{
    width: 30%;
    height: 900px;
}
 
.img-operations img {
    width: 100%;
    height: 72%;
}
.text-operations p {
    padding-top: 20px;
}
.text-operations a {
    text-decoration: underline;
}
.operations-2 {
    padding-top: 77px;
}

/* Section 5 */

.business {
    width: 75%;
    height: 950px;
    margin: 0 auto;
}
.text-business{
    padding-top: 450px;

}

.text-business a {
    text-decoration: underline;
    color: #007fff;
}

.text-business h2 {
    padding-bottom: 35px;
}
/* Section 7 */
.boxs {
    width: 100%;
    height: 500px;
    display: flex;
    background-color: blue;
}
.box {
    border: 1px solid black;
    width: 60%;

}
.boxc {
    width: 77%;
    height: 300px;
}
.box-1 {
    background-color: coral;
    height: 300px;
    width: 170px;
}


/* Section 6 */

.company {
    background-color: #abcdef;
    width: 100%;
    height: 600px;
}
.company h2 {
    color: darkred;
}

.company-right {
    padding-top: 316px;
    padding-left: 300px;
}
.company-info {
    width: 75%;
    margin: 0 auto;
    display: flex;
}

.go {
    padding: 10px 60px;
    background-color: white;
    white-space: nowrap;

}
/* Section 7 */

.frequent-questions {
    border-bottom: 1px solid lightgray;
}
.frequent-questions h3 {
    padding: 50px 0;
    font-size: 30px;
}

.ask {
    width: 75%;
    margin: 0 auto;
    height: 797px;
}
.questions {
    display: flex;
    border-bottom: 1px solid lightgray;
    padding: 50px 0;
}
.question-font {
    padding-left: 260px
}

/* Footer */

.component {
   
    height: 600px;
    background-color: black;
}

.pillar {
    display: flex;
    margin-left: 100px;
    

}

.member {
    width: 19%;
    height: 600px;
    padding-left: 45px;
    color: white;
    padding-top: 95px;
}
.member-one {
    border-bottom: 1px solid white;
    color: white;
    padding-top: 94px;
    height: 450px;
}
  
.member h3 {
    padding-left: 15px;
    padding-bottom: 25px;
}
.member-one h3 {
    padding-left: 15px;
    padding-bottom: 25px;

}

